<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta
      name="description"
      content="Meta descriptions are HTML attributes that provide concise explanations of the contents of web pages. They should optimally be between 150-160 characters."
    />
    <meta name="author" content="SvenCreations" />

    <!-- Touch icons for android and iOS (Bookmark icons) -->
    <link rel="shortcut icon" href="images/2.png" />

    <!-- Schema.org markup for Google+ and facebook -->
    <!-- <meta property="og:title" content="Sven">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://your-website-url.com"/>
	<meta property="og:image" content="Use images that are at least 1200 x 630 pixels for the best display on high resolution devices">
	<meta property="og:description" content="Sven - Creative Coming Soon Template"> -->

    <!-- Schema.org markup for twitter cards(summary_large_image) -->
    <!-- <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@username">
	<meta name="twitter:title" content="Title should be concise and will be truncated at 70 characters.">
	<meta name="twitter:description" content="A description that concisely summarizes the content of the page, as appropriate for presentation within a Tweet. Do not re-use the title text as the description, or use this field to describe the general services provided by the website. Description text will be truncated at the word to 200 characters.">
	<meta name="twitter:image" content="URL to a unique image representing the content of the page. Do not use a generic image such as your website logo, author photo, or other image that spans multiple pages. Images for this Card should be at least 280px in width, and at least 150px in height. Image must be less than 1MB in size."> -->

    <title>Rizqim.uz</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="css/combined/sven-essentials.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="css/combined/page-essentials.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="css/custom/index-local.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="generator">
    <!-- =================================================================
	Stomp - Typographic Intro Scenes
	================================================================== -->
    <div
      id="stomp-intro"
      class="sven-container"
      data-enable-sound="music/sample.mp3"
    >
      <div
        id="scene-1"
        class="sven-slide"
        data-scene-video="video/Particles.mp4"
        data-video-type="html5"
        data-video-loop="true"
        data-auto-stop-video="true"
      >
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx1-in"
            data-sout="animation: stomp-fx1-out"
          >
            Assalomu alaykum
          </h1>
        </div>
      </div>

      <div id="scene-2" class="sven-slide bg-white">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx2-in"
            data-sout="animation: stomp-fx2-out"
          >
            kutib
          </h1>
        </div>
      </div>

      <div id="scene-3" class="sven-slide" data-freeze-time="0.5">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx3-in">oling</h1>
        </div>
      </div>

      <div id="scene-4" class="sven-slide" data-freeze-time="0.8">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx4">
            yangi<br />loyiha.
          </h1>
        </div>
      </div>

      <div id="scene-5" class="sven-slide">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx5-in"
            data-sout="animation: stomp-fx5-out"
          >
            Siz
          </h1>
        </div>
      </div>

      <div id="scene-6" class="sven-slide bg-white">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx5-in"
            data-sout="animation: stomp-fx8-out"
          >
            Axborot
          </h1>
        </div>
      </div>

      <div id="scene-7" class="sven-slide bg-white" data-freeze-time="0.9">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx7">
            Texnologiyalari<br />olamidamisiz<br />o'z
          </h1>
        </div>
      </div>

      <div id="scene-8" class="sven-slide">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx5-in"
            data-sout="animation: stomp-fx8-out"
          >
            tajribangizni
          </h1>
        </div>
      </div>

      <div id="scene-9" class="sven-slide" data-freeze-time="0.9">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx9-in">
            haqiqiy loyihalarda oshirmoqchimisiz?
          </h1>
        </div>
      </div>

      <div id="scene-10" class="sven-slide bg-white">
        <div class="content-container">
          <h1
            class="lt-main font2x"
            data-sin="animation: stomp-fx10-in"
            data-sout="animation: stomp-fx10-out"
          >
            Unda
          </h1>
        </div>
      </div>

      <div id="scene-11" class="sven-slide">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx11-in"
            data-sout="animation: stomp-fx11-out"
          >
            sizga
          </h1>
        </div>
      </div>

      <div id="scene-12" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx12">
            rizqim.uz<br />loyihasi
          </h1>
        </div>
      </div>

      <div id="scene-13" class="sven-slide">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx13-in"
            data-sout="animation: stomp-fx13-out"
          >
            yordamga
          </h1>
        </div>
      </div>

      <div id="scene-14" class="sven-slide bg-white">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx14-in"
            data-sout="animation: stomp-fx14-out"
          >
            keladi
          </h1>
        </div>
      </div>

      <div id="scene-15" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx4">Siz<br />bu</h1>
        </div>
      </div>

      <div id="scene-16" class="sven-slide">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx16-in"
            data-sout="animation: stomp-fx16-out"
          >
            loyihada
          </h1>
        </div>
      </div>

      <div id="scene-18" class="sven-slide bg-white" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx18-in">
            o'z
          </h1>
        </div>
      </div>

      <div id="scene-19" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx19-in">
            tajribangizni
          </h1>
        </div>
      </div>

      <div id="scene-20" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx20">
            va<br />bilim<br />darajangizni
          </h1>
        </div>
      </div>

      <div id="scene-21" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx21-in">haqiqiy</h1>
        </div>
      </div>

      <div id="scene-22" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx22">
            loyihalar,<br />orqali
          </h1>
        </div>
      </div>

      <div id="scene-23" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx23-in">yuqori</h1>
        </div>
      </div>

      <div id="scene-24" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx24">
            cho'qqiga<br />olib<br />chiqishingiz<br />mumkin<br />!!!
          </h1>
        </div>
      </div>

      <div
        id="scene-25"
        class="sven-slide"
        data-trans="none"
        data-pursue-video="yes"
        data-scene-image="images/im_2.jpg"
        data-freeze-time="0.04"
      >
        <div class="content-container">
          <h1
            class="lt-main font2x tint-bl"
            data-sin="animation: stomp-fx25-in"
          >
            rizqim.uz
          </h1>
        </div>
      </div>

      <div id="scene-26" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx26-in">
            loyihasi
          </h1>
        </div>
      </div>

      <div id="scene-27" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx27">
            siz<br />uchun
          </h1>
        </div>
      </div>

      <div id="scene-28" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx28-in">
            eng&nbsp;=)
          </h1>
        </div>
      </div>

      <div id="scene-29" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx29-in">
            yaxshilarini
          </h1>
        </div>
      </div>

      <div id="scene-30" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx30">
            ravo<br />ko'radi
          </h1>
        </div>
      </div>

      <div id="scene-31" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx31-in">!!!</h1>
        </div>
      </div>

      <div id="scene-32" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx32">
            Bu<br />loyiha<br />sizni<br />yangi
          </h1>
        </div>
      </div>

      <div id="scene-33" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx33-in">
            buyurtmalarga
          </h1>
        </div>
      </div>

      <div id="scene-34" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx34-in">
            ega
          </h1>
        </div>
      </div>

      <div id="scene-35" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx35">
            bo'lishingizga
          </h1>
        </div>
      </div>

      <div id="scene-36" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx36-in">yoki</h1>
        </div>
      </div>

      <div id="scene-37" class="sven-slide bg-white">
        <div class="content-container">
          <h1
            class="lt-main"
            data-sin="animation: stomp-fx37-in"
            data-sout="animation: stomp-fx37-out"
          >
            BEPUL amaliyot o'tishangizga&nbsp;xizmat qiladi
          </h1>
        </div>
      </div>

      <div id="scene-38" class="sven-slide" data-freeze-time="0.12">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx38-in">rizqim.uz</h1>
        </div>
      </div>

      <div id="scene-39" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx39">
            bilan<br />tanishing
          </h1>
        </div>
      </div>

      <div id="scene-40" class="sven-slide bg-white">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx40">Frontend</h1>
        </div>
      </div>

      <div id="scene-41" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx41-in">Backend</h1>
        </div>
      </div>

      <div id="scene-42" class="sven-slide bg-white">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx42-in">
            Mobil
          </h1>
        </div>
      </div>

      <div id="scene-43" class="sven-slide" data-freeze-time="0.08">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx26-in">
            dasturlash
          </h1>
        </div>
      </div>

      <div id="scene-44" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx44">
            Telegram<br />botlar<br />Grafik<br />dizayn<br />
          </h1>
        </div>
      </div>

      <div id="scene-45" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx45-in">Veb</h1>
        </div>
      </div>

      <div id="scene-46" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx46-in">dizayn</h1>
        </div>
      </div>

      <div id="scene-47" class="sven-slide bg-white">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx47">
            SMM!<br />kabi<br />yo'nalishlarda
          </h1>
        </div>
      </div>

      <div id="scene-48" class="sven-slide" data-freeze-time="0.12">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx48-in">zamonaviy</h1>
        </div>
      </div>

      <div id="scene-49" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx49">loyihalar</h1>
        </div>
      </div>

      <div id="scene-50" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx50-in">
            ustida
          </h1>
        </div>
      </div>

      <div id="scene-51" class="sven-slide bg-white" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main font4x" data-sin="animation: stomp-fx51-in">
            ishlash
          </h1>
        </div>
      </div>

      <div id="scene-52" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx52-in">
            imkoniyatingiz
          </h1>
        </div>
      </div>

      <div id="scene-53" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx53">bor.</h1>
        </div>
      </div>

      <div id="scene-54" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx54-in">Biz</h1>
        </div>
      </div>

      <div id="scene-55" class="sven-slide bg-white" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx55-in">
            doim
          </h1>
        </div>
      </div>

      <div id="scene-56" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx56-in">siz</h1>
        </div>
      </div>

      <div id="scene-57" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx57-in">
            haqingizda
          </h1>
        </div>
      </div>

      <div id="scene-58" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx58-in">
            qayg'uramiz
          </h1>
        </div>
      </div>

      <div id="scene-59" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx59-in">Bizni</h1>
        </div>
      </div>

      <div id="scene-60" class="sven-slide bg-white" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx60-in">
            kuzatishda
          </h1>
        </div>
      </div>

      <div id="scene-61" class="sven-slide bg-white" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx61-in">davom</h1>
        </div>
      </div>

      <div id="scene-62" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx62-in">eting</h1>
        </div>
      </div>

      <div id="scene-63" class="sven-slide bg-white" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx63-in">
            tez
          </h1>
        </div>
      </div>

      <div id="scene-64" class="sven-slide" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx61-in">kunlarda</h1>
        </div>
      </div>

      <div id="scene-65" class="sven-slide bg-white" data-freeze-time="0.04">
        <div class="content-container">
          <h1 class="lt-main" data-sin="animation: stomp-fx62-in">siz bilan</h1>
        </div>
      </div>

      <div id="scene-66" class="sven-slide">
        <div class="content-container">
          <h1 class="lt-main font2x" data-sin="animation: stomp-fx66-in">
            <img class="tf-logo" src="images/2.png" alt="rizqim" />
          </h1>
        </div>
      </div>
    </div>

    <!-- =================================================================
	Main Page Content
	================================================================== -->
    <div id="main-wrapper" class="split-container abs-fs">
      <div class="container-fluid">
        <div class="row">
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				Left Section
				~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="side-left bg-cover">
            <div id="intro-content" class="col-lg-6 vflow bg-cover">
              <div id="ambient-bg">
                <!-- ## Start Ambient BG (Particles Animations) ## -->
                <canvas id="bits"></canvas>
              </div>
              <!-- ## End Ambient BG (Particles Animations) ## -->
              <div
                class="st-desc"
                style="padding-top: 10px; padding-bottom: 10px"
              >
                <!-- ## Start Coming Soon Content ## -->
                <!-- <h2 class="fw600">STOMP - THE INTRO</h2> -->
                <h2 class="fw600" style="margin: 0px">
                  Tez kunlarda...<br />
                  <span class="st-countdown fw600"></span>
                </h2>
                <p>
                  Rizqim.uz loyihasi axborot texnologiyalar olamidagi insonlarni
                  tajribasi va bilim darajasini yuqori cho'qqiga chiqishi uchun
                  xizmat qiladi. Bu loyiha orqali siz haqiqiy buyurtmalar olib
                  amaliyot o'tashingiz mumkin!
                </p>
                <p style="margin: 0px">
                  <a
                    id="mi-btn"
                    href="https://t.me/abdivaliyevich"
                    class="st-btn btn-bordered"
                    >Aloqa</a
                  >
                  <a class="st-btn btn-fill" href="tel:+998993421009"
                    >+998993421009</a
                  >
                </p>
              </div>
              <!-- ## End Coming Soon Content ## -->
            </div>
          </div>

          <div
            id="main-content"
            class="side-right col-xs-12 col-lg-offset-6 col-lg-6 vflow"
          >
            <section id="the-gallery" class="portfolio">
              <!-- ## Start PORTFOLIO section ## -->
              <div class="row">
                <div class="col-xs-12">
                  <h3>Rizqim.uz - na'muna</h3>
                  <div
                    class="st-gallery row"
                    itemscope
                    itemtype="http://schema.org/ImageGallery"
                  >
                    <!-- %% Start GALLERY %% -->
                    <figure
                      class="col-xs-12 col-sm-6"
                      itemprop="associatedMedia"
                      itemscope
                      itemtype="http://schema.org/ImageObject"
                    >
                      <a
                        class="ps-link"
                        href="images/local/rizqim-1.jpg"
                        itemprop="contentUrl"
                        data-size="1920x1280"
                      >
                        <img
                          class="ofit gpu-hack lazyload"
                          data-src="images/local/rizqim-1.jpg"
                          itemprop="thumbnail"
                          alt="Best of both worlds"
                        />
                        <p class="pszoom"></p>
                      </a>
                      <figcaption itemprop="caption description">
                        rizqim.uz - BrandBook
                      </figcaption>
                    </figure>
                    <figure
                      class="col-xs-12 col-sm-6"
                      itemprop="associatedMedia"
                      itemscope
                      itemtype="http://schema.org/ImageObject"
                    >
                      <a
                        class="ps-link"
                        href="images/local/rizqim-2.jpg"
                        itemprop="contentUrl"
                        data-size="1920x1264"
                      >
                        <img
                          class="ofit gpu-hack lazyload"
                          data-src="images/local/rizqim-2.jpg"
                          itemprop="thumbnail"
                          alt="Once in a blue moon"
                        />
                        <p class="pszoom"></p>
                      </a>
                      <figcaption itemprop="caption description">
                        rizqim.uz - BrandBook
                      </figcaption>
                    </figure>
                    <figure
                      class="col-xs-12 col-sm-6"
                      itemprop="associatedMedia"
                      itemscope
                      itemtype="http://schema.org/ImageObject"
                    >
                      <a
                        class="ps-link"
                        href="images/local/rizqim-3.jpg"
                        itemprop="contentUrl"
                        data-size="1920x1280"
                      >
                        <img
                          class="ofit gpu-hack lazyload"
                          data-src="images/local/rizqim-3.jpg"
                          itemprop="thumbnail"
                          alt="Piece of cake"
                        />
                        <p class="pszoom"></p>
                      </a>
                      <figcaption itemprop="caption description">
                        rizqim.uz - BrandBook
                      </figcaption>
                    </figure>
                    <figure
                      class="col-xs-12 col-sm-6"
                      itemprop="associatedMedia"
                      itemscope
                      itemtype="http://schema.org/ImageObject"
                    >
                      <a
                        class="ps-link"
                        href="images/local/rizqim-4.jpg"
                        itemprop="contentUrl"
                        data-size="1920x1282"
                      >
                        <img
                          class="ofit gpu-hack lazyload"
                          data-src="images/local/rizqim-4.jpg"
                          itemprop="thumbnail"
                          alt="Whole nine yards"
                        />
                        <p class="pszoom"></p>
                      </a>
                      <figcaption itemprop="caption description">
                        rizqim.uz - BrandBook
                      </figcaption>
                    </figure>
                    <figure
                      class="col-xs-12 col-sm-6"
                      itemprop="associatedMedia"
                      itemscope
                      itemtype="http://schema.org/ImageObject"
                    >
                      <a
                        class="ps-link"
                        href="images/local/rizqim-5.jpg"
                        itemprop="contentUrl"
                        data-size="1920x1282"
                      >
                        <img
                          class="ofit gpu-hack lazyload"
                          data-src="images/local/rizqim-5.jpg"
                          itemprop="thumbnail"
                          alt="Whole nine yards"
                        />
                        <p class="pszoom"></p>
                      </a>
                      <figcaption itemprop="caption description">
                        rizqim.uz - BrandBook
                      </figcaption>
                    </figure>
                    <figure
                      class="col-xs-12 col-sm-6"
                      itemprop="associatedMedia"
                      itemscope
                      itemtype="http://schema.org/ImageObject"
                    >
                      <a
                        class="ps-link"
                        href="images/local/rizqim-6.jpg"
                        itemprop="contentUrl"
                        data-size="1920x1282"
                      >
                        <img
                          class="ofit gpu-hack lazyload"
                          data-src="images/local/rizqim-6.jpg"
                          itemprop="thumbnail"
                          alt="Whole nine yards"
                        />
                        <p class="pszoom"></p>
                      </a>
                      <figcaption itemprop="caption description">
                        rizqim.uz - BrandBook
                      </figcaption>
                    </figure>
                  </div>
                  <!-- %% End GALLERY %% -->
                </div>
              </div>
            </section>
            <!-- ## End PORTFOLIO section ## -->

            <section id="talk-back" class="contact-us">
              <!-- ## Start CONTACT US Section ## -->
              <div class="row">
                <div class="col-xs-12">
                  <div class="addr-details row">
                    <!-- %% Start ADDRESS DETAILS section %% -->
                    <div class="col-xs-12 col-sm-4">
                      <p>
                        <span>Email</span><br /><a
                          href="mailto:instantCompanyuz@gmail.com?Subject=Stomp%20Inquiry"
                          >instantCompanyuz@gmail.com</a
                        >
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <p>
                        <span>Phone</span><br /><a href="tel:+998993421009"
                          >+998 (99) 342-1008</a
                        >
                      </p>
                    </div>
                  </div>
                  <!-- %% End ADDRESS DETAILS section %% -->
                </div>
              </div>
            </section>
            <!-- ## End CONTACT US section ## -->

            <a id="close-info"
              ><i class="fa fa-window-close" aria-hidden="true"></i
            ></a>

            <p class="copyright text-center">
              &copy; 2021 - rizqim.uz IT loyihasi
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- =================================================================
    Splash page content (If autostart is set to false)
    ================================================================== -->
    <div class="splash-page abs-fs vflow bg-cover">
      <div class="sven-scene halign-center">
        <div class="centered center-center">
          <p>
            Rizqim.uz loyihasi haqida ma'lumotga ega bo'lish uchun, pastdagi
            tugmani bosing.
          </p>
          <p style="margin-bottom: 0">
            <a class="st-btn btn-fill play-button">START</a>
          </p>
        </div>
      </div>
    </div>
    <!-- =================================================================
    Preloader Instance
    ================================================================== -->
    <div class="loader-container">
      <div class="abs-center">
        <div class="sk-double-bounce">
          <div class="sk-child sk-double-bounce1"></div>
          <div class="sk-child sk-double-bounce2"></div>
        </div>
      </div>
      <div class="sound-info text-center">
        <p>
          <img
            src="images/sound.png"
            alt="Enable Sound"
            width="32"
            height="32"
          /><br />Tap / Click anywhere to preload sound <br />
          for an optimum experience
        </p>
      </div>
    </div>

    <!-- =================================================================
    Player Controls (Footer)
    ================================================================== -->
    <div class="pl-wrapper vflow">
      <div class="pl-controls">
        <ul>
          <li><a class="pl-play">PLAY</a></li>
          <li><a class="pl-sound">SOUND</a></li>
          <li><a class="pl-skip">SKIP INTRO</a></li>
        </ul>
      </div>
    </div>

    <!-- =================================================================
    Page Reveal Transition
    ================================================================== -->
    <div class="revealer"></div>

    <!-- =================================================================
  Subscribe Modal
  ================================================================== -->

    <!-- =================================================================
  Root Element of PhotoSwipe
  ================================================================== -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button
              class="pswp__button pswp__button--close"
              title="Close (Esc)"
            ></button
            ><button
              class="pswp__button pswp__button--share"
              title="Share"
            ></button
            ><button
              class="pswp__button pswp__button--fs"
              title="Toggle fullscreen"
            ></button
            ><button
              class="pswp__button pswp__button--zoom"
              title="Zoom in/out"
            ></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
          >
            <div class="pswp__share-tooltip"></div>
          </div>
          <button
            class="pswp__button pswp__button--arrow--left"
            title="Previous (arrow left)"
          ></button
          ><button
            class="pswp__button pswp__button--arrow--right"
            title="Next (arrow right)"
          ></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- =================================================================
  Compiled JS plugins
  ================================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/combined/page-essentials.min.js"></script>
    <script src="js/combined/html5-video.min.js"></script>
    <script src="js/combined/sven-essentials.min.js"></script>
    <script src="js/combined/stomp-motion.min.js"></script>
    <script src="js/backgrounds/bits.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
